<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Assignments</title>
</head>
<body>
    <h1>Assignments</h1>

    <table>
        <tr>
            <th>Assignments</th>
            <th>Score</th>
            <th>Total</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        
            {{#each assignmentArray}}
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.totalScore}}</td>
            <td>{{#if completed}}&#10004;{{/if}}</td>
            <td><a href="/deleteItem">Delete</a></td>
            </tr>
            {{/each}}
        
    </table>

    <p>Overall Average: {{average}}</p>

    <a href="/add-form">Add an Assignment</a>

</body>
</html>